{% extends "base.html.tera" %}

{% block content %}
    <h1>Hello,</h1>
    <p>You want to reset your password</p>
    <p>please click the following link</p>
    <a href="http://localhost:8000/ui/request_reset/{{ reset_code }}">Reset password</a>
    <p></p>
{% endblock content %}